@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

@* This tells you that this view will expect to retrieve a list of RestaurantVM *@
@model IEnumerable<WebUI.Models.OrdersVM>

<h1>List of StoreFronts</h1>

<table>
    <tr>
        <th>Id Number</th>
        <th>Customer Id </th>
        <th>Store Id</th>
        <th>Total Price</th>


    </tr>
    @* @foreach(StoreFrontVM item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Address)</td>
            
        </tr>
    } *@
    @foreach (OrdersVM item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.CustomerId)</td>
            <td>@Html.DisplayFor(modelItem => item.StoreFrontId)</td>
            <td>@Html.DisplayFor(modelItem => item.TotalPrice)</td>
            
        </tr>
        
    }
</table>