@model IEnumerable<WebUI.Models.LineItemVM>
<link rel="stylesheet" href="~/css/Tables.css" />
<h1>List of Products</h1>
<form asp-action="">
<table class="table table-striped table-hover">
    <caption>Your current cart</caption>
    <tr>
        <th scope="col">Store Id Number</th>
        <th scope="col">Id Number</th>
        <th scope="col">Product Name </th>
        <th scope="col">Product Price </th>
        <th scope="col">Amount </th>

    </tr>
    @foreach (LineItemVM line in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => line.StoreID)</td>
            <td>@Html.DisplayFor(modelItem => line.ProductID)</td>
            <td>@Html.DisplayFor(modelItem => line.item.Name)</td>
            <td>@Html.DisplayFor(modelItem => line.item.Price)</td>
            @Html.TextBox("p_StoreId",line.StoreID, new { style="color:red",type="hidden",Value=line.StoreID }) 
            @Html.TextBox("p_ProductId",line.ProductID, new { style="color:red",type="hidden",Value=line.ProductID  }) 
             <td>@Html.TextBox("p_quantity",line.Quantity, new { style="color:red",type="Number",Value=line.Quantity }) </td>
            <td><button class="btn btn-danger">@Html.ActionLink("Remove from Cart","RemoveCart",new {p_ProductId = line.ProductID,p_StoreId=line.StoreID}, new {@style="color: white;"})</button>
              </td>
           

        </tr>
    
    

    }
    

    

</table>
 <input type ="submit" value="Calculate total" class="btn btn-danger" formaction="Cart" formmethod="post"/>
 
        </form>       
        @if(Convert.ToDecimal(ViewBag.purchase) > 0)
        {<button class="btn btn-danger">@Html.ActionLink("Confirm Purchase","ProceedToCheckout",new {p_total=@ViewBag.purchase}, new {@style="color: white;"})</button>
            <p>The Total of your order is $@ViewBag.purchase</p>
        }
@if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }