@model WebUI.Models.ProductsVM
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<h1 class="display-4">Edit Stock</h1>

<div >
    <dl>
        <dt>
            Store Id:
            <span class="col-sm-10" style="font-weight: normal;">@ViewBag.Store</span>
        </dt>
        <dt>
            Id:
            <span class="col-sm-10" style="font-weight: normal;">@Html.DisplayFor(model => model.Id)</span>
        </dt>
        <dt>
            Name:
            <span class="col-sm-10" style="font-weight: normal;">@Html.DisplayFor(model => model.Name)</span>
        </dt>
        <dt>
            City:
            <span class="col-sm-10" style="font-weight: normal;">@Html.DisplayFor(model => model.Description)</span>
        </dt>
        <dt>
            State:
            <span class="col-sm-10" style="font-weight: normal;">@Html.DisplayFor(model => model.Category)</span>
        </dt>
   
        <!--We need a form to do a post request-->
        <form asp-action="EditStock">
            <!--
                This input element is hidden because we don't want the user to input some id instead we are just supplying the id w
                Already have
            -->
            <div class="mb-3">

        <label  class="form-label">Amount</label>
        <input  type="Number" step=1 class="w3-input w3-border w3-animate-input" style="width:30%" name="p_quantity"value=@ViewBag.Amount >
        
        <span  class="text-danger"></span>
    </div>
    <input type ="hidden"  name="p_id"value =@ViewBag.Product>
    <input type ="hidden"  name ="p_sid"value=@ViewBag.Store>

            <input type ="submit" value="EditStock" class="btn btn-danger"/>
        </form>
    </dl>
</div>