@model IEnumerable<WebUI.Models.LineItemVM>
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
     <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
<link rel="stylesheet" href="~/css/Tables.css" />    
</head>



<h1>List of Products</h1>
<form asp-action="">
<table class="table table-striped table-hover">
    <caption>Confirming your purchase of the following products</caption>
    <tr>
        <th scope="col">Store Id Number</th>
        <th scope="col">Id Number</th>
        <th scope="col">Product Name </th>
        <th scope="col">Product Price </th>
        <th scope="col">Amount </th>

    </tr>
    @foreach (LineItemVM line in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => line.StoreID)</td>
            <td>@Html.DisplayFor(modelItem => line.ProductID)</td>
            <td>@Html.DisplayFor(modelItem => line.item.Name)</td>
            <td>@Html.DisplayFor(modelItem => line.item.Price)</td>
            @Html.TextBox("p_StoreId",line.StoreID, new { style="color:red",type="hidden",Value=line.StoreID }) 
            @Html.TextBox("p_ProductId",line.ProductID, new { style="color:red",type="hidden",Value=line.ProductID  }) 
             <td>@Html.TextBox("p_quantity",line.Quantity, new { style="color:red",type="Number",Value=line.Quantity, @readonly = "readonly"}) </td>


        </tr>
    
    

    }
    
        
            <!--
                This input element is hidden because we don't want the user to input some id instead we are just supplying the id w
                Already have
            -->
        
    

    

</table>
 
  <input type ="submit" value="Confirm" class="btn btn-danger" formaction="ConfirmPurchase" formmethod="post"/>
        </form>       
        @if(ViewBag.xyz != null)
        {
            <p>The Total of your order is $@ViewBag.xyz</p>
        }