@model WebUI.Models.ProductsVM

<h1 class="display-4">Edit My Profile</h1>

<div>
    <dl>
        <dt>
            Store Id:
            <span class="col-sm-10" style="font-weight: normal;">@ViewBag.Store</span>
        </dt>
        <dt>
            Id:
            <span class="col-sm-10" style="font-weight: normal;">@Html.DisplayFor(model => model.Id)</span>
        </dt>
        <dt>
            Name:
            <span class="col-sm-10" style="font-weight: normal;">@Html.DisplayFor(model => model.Name)</span>
        </dt>
        <dt>
            Description:
            <span class="col-sm-10" style="font-weight: normal;">@Html.DisplayFor(model => model.Description)</span>
        </dt>
        <dt>
            Category:
            <span class="col-sm-10" style="font-weight: normal;">@Html.DisplayFor(model => model.Category)</span>
        </dt>
          <dt>
            Price:
            <span class="col-sm-10" style="font-weight: normal;">@Html.DisplayFor(model => model.Price)</span>
        </dt>
   
   
        <!--We need a form to do a post request-->
        <form asp-action="Purchase">
            <!--
                This input element is hidden because we don't want the user to input some id instead we are just supplying the id w
                Already have
            -->
            <div class="mb-3">

        <label  class="form-label">Amount you want</label>
        <input  type="Number" step=1 class="form-control" name="p_quantity" >
        
        <span  class="text-danger"></span>
    </div>
    <input type ="hidden"  name="p_id"value =@ViewBag.Product>
    <input type ="hidden"  name ="p_sid"value=@ViewBag.Store>
    <input type ="hidden"  name ="p_total"value=@ViewBag.Price>
    

            <input type ="submit" value="Purchase" class="btn btn-danger"/>
        </form>
    </dl>
</div>